version: '3.8'

services:
  web:
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "0.0.0.0:4040:8000"
    depends_on:
      - db

  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: cryptoprocessingdb
      POSTGRES_PASSWORD: Oa6DlSbavLa0NNp
      POSTGRES_DB: postgres
    volumes:
      - db_data_2:/var/lib/postgresql/data
    ports:
      - "0.0.0.0:5432:5432"

volumes:
  db_data_2:
